@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DAF0EE;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 1em auto;
    color: #2F4B26;
    font-size: 1.8rem;
}

.box {
    background-color: #3B413C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    margin: auto auto 1em auto;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 2.813rem;
}

